.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 130px; /* Set a fixed height for the header container */
  padding: 0 60px; /* Remove top and bottom padding, keep left and right padding */
  text-align: left;
  background: #023020;
  color: white;
  font-size: 30px;
  font-family: "Gothic", Papyrus, fantasy;
}

/* Add some CSS for the logo */
.logo {
  height: 100px; /* Adjust the height as needed */
  width: auto;
  object-fit: contain;
  margin-left: 20px; /* Add a margin to the left of the logo to create some space between the text and the logo */
}
