/* Main registration text styling */
.registration-text {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

/* No margin for registration text h2 */
.registration-text h2 {
  font-family: "Bluu Next Bold", Papyrus, fantasy;
  top: 0%;
  left: 50%;
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Styling for registration text p */
.registration-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Styling for the course registration button */
.course-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* Styling for the course cards in the registration page */
.course-cardReg {
  width: 250px;
  height: auto;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Styling for paragraphs within the course cards */
.course-cardReg p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 10;
  color: #000000;
}

/* Styling for the register button within the course cards */
.course-cardReg button {
  background: #00a32e;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for the register button within the course cards */
.course-cardReg button:hover {
  background: #0b7d39;
}

/* Description styling */
.course-cardReg .description1 {
  position: absolute;
  bottom: 130px;
  font-weight: bold;
}

/* Styling for the course list container */
.course-card-container {
  max-height: 62vh;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

hr {
  border: none;
  border-top: 1px solid #000000;
  height: 1px;
  margin: 1px 0;
}

h4 {
  font-weight: bold; /* This will make the text bold */
  font-size: 20px;   /* Adjust the font size */
  color: #000000;
}

.drop-button {
  background-color: #03770d;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer
}
.course-cardReg .description-container p {
  word-wrap: break-word;
}

.registration-container {
  display: flex;
  justify-content: center;
  max-height: 62vh;
  overflow-y: auto;
  padding: 1rem;
}


.course-card-container {
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
